<h1>ENTRENADOR</h1>
<div class="formulario-general-buscar" [hidden]="mostrar">
  <div class="row formulario-login-row">
    <div class="col-md-3"></div>
    <div class="col-md-6 formulario-login">
        <form  
        #formularioGeneral = "ngForm" 
        (submit)="login()"> 
            <div class="form-group">
              <input id="nombreBuscar" type="text" name="nombre-buscar" class="form-control"  placeholder="Ingrese Nombre" [(ngModel)]="nombreBuscar">
            </div>
            <button type="submit" class="btn btn-primary">BUSCAR</button>
          </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<button type="submit" class="btn btn-primary" (click)="mostrarFormularioEntrenador(true)" [hidden]="mostrar" >CREAR</button>

<div class="formulario-entrenador" [hidden]="mostrar">
    <div class="row formulario-login-row">
      <div class="col-md-3"></div>
      <div class="col-md-6 formulario-login">
          <form  
          #formularioEntrenador = "ngForm" 
          (submit)="login()"> 
              <div class="form-group">
                <label for="nombreEntrenador">Nombre Cajero</label>
                <input id="nombreEntrenador" type="text" name="nombre-entrenador" class="form-control"  placeholder="Ingrese Nombre" [(ngModel)]="nombreEntrenador">
                
                <label for="apellidoEntrenador">Nombre Cajero</label>
                <input id="apellidoEntrenador" type="text" name="apellido-entrenador" class="form-control"  placeholder="Ingrese Nombre" [(ngModel)]="apellidoEntrenador">

                <label for="fechaEntrenador">Nombre Cajero</label>
                <input id="fechaEntrenador" type="text" name="fecha-entrenador" class="form-control"  placeholder="Ingrese Nombre" [(ngModel)]="fechaEntrenador">

                <label for="numeroMedallasEntrenador">Nombre Cajero</label>
                <input id="numeroMedallasEntrenado" type="text" name="numero-medallas-entrenador" class="form-control"  placeholder="Ingrese Nombre" [(ngModel)]="numeroMedallasEntrenado">

                <label for="campeonEntrenador">Nombre Cajero</label>
                <input id="campeonEntrenador" type="text" name="campeon-entrenador" class="form-control"  placeholder="Ingrese Nombre" [(ngModel)]="campeonEntrenadorr">
              </div>
              <button type="submit" class="btn btn-primary">CREAR ENTRENADOR</button>
            </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
