<div class="row nav-bar-cabecera">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="col-md-3 logo-multicines">
          <img src="../../assets/imagenes/logo_multicines.png" alt="logo-multicines" width="100%">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto lista-menu">
            <li class="nav-item active">
              <a class="item-lista-menu" href="#">Home </a>
            </li>
            <li class="nav-item">
              <a class="item-lista-menu" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="item-lista-menu" href="#">Features</a>
              </li>
            <li class="nav-item">
              <a class="item-lista-menu" href="#">Pricing</a>
            </li>
          </ul>
          <span class="navbar-text sesion-usuario">
            Navbar text with an inline element
          </span>
        </div>
      </nav>
</div>
