<div class="row">
  <div class="col-md-3 espacio-promociones"></div>
    <div class="col-md-6 espacio-promociones">
      <span class="titulo-promocion">
        PROMOCIONES
      </span>
      <p class="subtitulo-promocion">INICIO <span class="punto">.</span> PROMOCIONES</p>
    </div>
  <div class="col-md-3 espacio-promociones"></div>
</div>
<div class="row">
    <div class="col-md-12 espacio-promociones2"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 disfrute-promociones">
      <span class="titulo-disfrute-promociones">
          DISFRUTE DE NUESTRAS PROMOCIONES
      </span>
    </div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-12 espacio-blanco"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7 cantimplora">
      <span class="titulo-cantimplora">
          CANTIMPLORA CAPITANA MARVEL
      </span>
    </div>
  <div class="col-md-3"></div>
</div>
<div class="row imagen">
  <div class="col-md-2"></div>
  <div class="col-md-7">
      <img src="../../../assets/imagenes/Prom_3.jpg" class="imagenPro"alt="">
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row parrafo-abajo-imagen">
    <div class="col-md-2"></div>
    <div class="col-md-7 ">
      <span>Llévate a casa por tan solo $7 ó $5+ 200 puntos de tu tarjeta Multiclub.</span>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row boton">
    <div class="col-md-2"></div>
    <div class="col-md-7 ">
      <button class="boton-ver-mas">VER MÁS</button>
    </div>
    <div class="col-md-3"></div>
</div>
