Nombre: {{nombre}}
<br>

Apellido: {{apellido}}

<br>

Consulta: {{q}}

<form 
  #formularioUsuario = "ngForm"
  novalidate
  (submit)="guardarUsuario(formularioUsuario)"
>
  <label for="nombre">Nombre</label>
  <input id="nombre" name="nombreUsuario" type="text" [(ngModel)]="nombre" >
  <br>
  <label for="apellido">Apellido</label>
  <input id="apellido" name="apellidoUsuario" type="text" [(ngModel)]="apellido">
  <br>
  <label for="consulta">Consulta a Google</label>
  <input type="consulta" name="q" type="text" [(ngModel)]="q">

  <button type="button">Tipo boton</button>
  <button type="reset">Tipo reset</button>
  <button type="submit">Tipo submit</button>

  <button>Ir a google</button>

</form>
