<div class="cabecera">
  <div class="row">
    <div class="col-sm-12 espacio-vacio-superior-cabecera"></div>
  </div>
  <app-cabecera-portada></app-cabecera-portada>
  <div class="row">
    <div class="col-sm-12 espacio-vacio-inferior-cabecera"></div>
  </div>
</div>
<div class="carousel">
  <app-carousel-portada></app-carousel-portada>
</div>
<div class="filtros-peliculas">
  <app-filtro-portada></app-filtro-portada>
</div>
<div class="peliculas">
  <div class="row">
      <div class="col-md-2" *ngFor = "let pelicula of arregloPeliculas">  
          <app-peliculas-portada 
              [imagenPelicula]="pelicula.imagenPelicula"
              [nombrePelicula]="pelicula.nombrePelicula"
              [edadPelicula]="pelicula.edadPelicula"
              [iconoPelicula]="pelicula.iconoPelicula">
          </app-peliculas-portada>
        </div>
  </div>
</div>
<div class="footer">
  <div class="row">
      <div class="col-sm-12 espacio-vacio-inferior-cabecera"></div>
  </div>
    <app-pie-portada></app-pie-portada>
</div>

