.contenido-pelicula{
    margin-top: 13px;
}
.item-pelicula{
    margin-top: -29px;
    padding-left: 44px;
    font-size: 14px;
    font-family: "Cabin, Roboto Condensed", sans-serif;
}
.item-pelicula-edad{
    color: #a8a8a8;
}
.btn-primary{
    border-radius: 50px;
    background: #2e3036;
    border-color: #2e3036;
    position: absolute;
    top:190px;
    left:90px;
}