<img src="{{imagenPelicula}}" (mouseover)="aparecerBotones(true)" (mouseout)="aparecerBotones(false)">
<div class="contenido-pelicula">
    <img src="{{iconoPelicula}}" width="25px" height="25px">
    <div class="item-pelicula">
        {{nombrePelicula}}
        <div class="item-pelicula-edad">{{edadPelicula}}</div>
    </div>
</div> 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="eventoNombrePelicula(nombrePelicula)" 
[hidden]="!mostrar" (mouseover)="aparecerBotones(true)" (mouseout)="aparecerBotones(false)">
    <img src="../../../../../assets/imagenes/boton-play.png" width="12px" height="14px" >
</button>
