<div class="cabecera">
  <div class="row">
      <div class="col-md-1">
          <img src="https://www.multicines.com.ec/multicines_funciones/newsite/assets/img/logo_multicines.png" alt="logo_multicines" width="410%" height="90%" >
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
          <div class="menu_multicines">
              <span class="item-cabecera">INICIO</span>
              <span class="item-cabecera-slash">/</span>
              <span class="item-cabecera">DUCLERÍA</span>
              <span class="item-cabecera-slash">/</span>
              <span class="item-cabecera">PROMOCIONES</span>
              <span class="item-cabecera-slash">/</span>
              <span class="item-cabecera">MULTICLUB</span>
          </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-1 icono-usuario-login">
          <img src="../../assets/images/icon-usuario.png" alt="usuario" width="100%" height="90%">
        </div>
  </div>
</div>
