<div class="footer">
    <div class="row">
        <div class="col-md-2">
            <img src="https://www.multicines.com.ec/multicines_funciones/newsite/assets/img/logo_multicines.png" alt="logo_multicines" width="100%" height="10%" >
            <p class="item-servicio">Multicines © 2019. Todos los derechos reservados.</p>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <div class="item-footer">INFORMACIÓN</div>
              <p class="item-informacion">INICIO</p>
              <p class="item-informacion">DULCERÍA</p>
              <p class="item-informacion">PROMOCIONES</p>
              <p class="item-informacion">CONTÁCTENOS</p>
              <p class="item-informacion">NOSOTROS</p>
              <p class="item-informacion">TRABAJA CON NOSOTROS</p>
              <p class="item-informacion">FACTURACIÓN ELECTRÓNICA</p>
              <p class="item-informacion">PREGUNTAS FRECUENTES</p>
              <p class="item-informacion">POLÍTICA DE PRIVACIDAD Y CONDICIONES DE USO</p>
        </div>
        <div class="col-md-2">
            <div class="item-footer">OTROS SERVICIOS</div>
            <p class="item-servicio">SALAS VIP</p>
        </div>
        <div class="col-md-3">
            <div class="item-footer">SERVICIOS CORPORATIVOS</div>
            <p class="item-servicio">PUBLICIDAD EN MULTICINES</p>
            <p class="item-servicio">CUPONES Y FUNCIONES PRIVADAS</p>
            <p class="item-servicio">AUSPICIO EN COMBOS</p>
        </div>      
       
        <div class="col-md-2 icono-usuario-login">
            <img src="../../assets/images/icon-usuario.png" alt="usuario" width="35%" height="12%">
            <p class="item-servicio">Síguenos en:</p>
            <span class="botones-redes-sociales">
                <button class="boton-red"><img src="../../assets/images/icono-fb.svg" height="20px" width="20px"></button>
                <button class="boton-red"><img src="../../assets/images/icono-inst.svg" height="20px" width="20px"></button>
                <button class="boton-red"><img src="../../assets/images/icono-you.svg" height="20px" width="20px"></button>
            </span>
            <p><button class="boton-descargar" ><img src="../../assets/images/icono-google-play.png" height="100px" width="100px"></button></p>
            <p><button class="boton-descargar" ><img src="../../assets/images/icono-app-store.png" height="100px" width="100px"></button></p>
          </div>
    </div>
  </div>
  
  
 
 



