.cabecera-titulo-F{
    text-align: center;
    color: darkgray;
    font-weight: bold;
}
.cabecera-titulo-Y{
    text-align: center;
    color: black;
    font-weight: bold;
}
.descripcion-today{
    font-size: 11px;
    color: black;
}
.titulo-today{
    color: black;
    font-weight: bold;
}
.hora{
    color: darkgray;
}
.avatar{
    padding-right: 15px;
    padding-bottom: 15px;
}