.search{
    color: darkgrey;
    font-size: 20px;
}

.boton-filtro{
    font-size: 10px;
    font-weight: bold;
}
.scrolling-wrapper {
    overflow-x: scroll;
    min-height: 50px;
    white-space: nowrap;
  
    .card {
      display: inline-block;
      margin: 15px;
    }
}  