.search{
    color: darkgrey;
    font-size: 20px;
}

.boton-filtro{
    font-size: 10px;
    font-weight: bold;
}

.boton-filtro-art{
    padding-left:38px;
    font-size: 10px;
    font-weight: bold;
 }