<div class="row">
  <div class="col-md-12 contenedor-publicidad-filtros">
      <div class="imagen-publicidad">
          <div class="row">
              <div class="col-md-12 parte-superior-publicidad"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <img src="../../assets/imagenes/publicidad-filtro.gif" class="col-md-10 publicidad" alt="publicidad_filtro">
            <div class="col-md-1"></div>
          </div>
          <div class="row">
              <div class="col-md-12 parte-inferior-publicidad"></div>
          </div>

          <div class="filtros-peliculas">
              <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <div class="item-filtro"><img src="../../assets/imagenes/ticket.png" width="10%" height="10%"> Pre-venta</div>
                    <div class="item-filtro"><img src="../../assets/imagenes/star-green.svg" width="10%" height="10%"> Pre-estreno</div>
                    <div class="item-filtro"><img src="../../assets/imagenes/star-red.svg" width="10%" height="10%"> Estreno</div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <select class="selectpicker select-picker-ciudad">
                      <option>QUITO</option>
                      <option>CUENCA</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                     <select class="selectpicker select-picker-comercial">
                      <option>C.C.I</option>
                      <option>CONDADO</option>
                      <option>RECREO</option>
                      <option>SCALA</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <div class="item-filtro-calendario-hora">
                        <p>CALENDARIO</p>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="item-filtro-calendario-hora">
                        <p>HORA</p>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div class="menu-filtros">
                        <span class="item-filtros">CARTELERA</span>
                        <span class="item-filtros-slash">/</span>
                        <span class="item-filtros">ESTRENOS</span>
                        <span class="item-filtros-slash">/</span>
                        <span class="item-filtros">PRÓXIMOS ESTRENOS</span>
                        <span class="item-filtros-slash">/</span>
                        <span class="item-filtros">PREVENTA</span>
                        <span class="item-filtros-slash">/</span>
                        <span class="item-filtros">3D</span>
                        <span class="item-filtros-slash">/</span>
                        <span class="item-filtros">SUBTITULADO</span>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


