<div class="row">
  <div class="col-md-12 contenedor-publicidad-filtros">
      <div class="imagen-publicidad">
          <div class="row">
              <div class="col-md-12 parte-superior-publicidad"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <img src="../../assets/imagenes/publicidad-filtro.gif" class="col-md-10 publicidad" alt="publicidad_filtro">
            <div class="col-md-1"></div>
          </div>
          <div class="row">
              <div class="col-md-12 parte-inferior-publicidad"></div>
          </div>

          <div class="filtros-peliculas">
              <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <div class="span"><span class="fa-ticket-alt"></span> Pre-venta</div>
                    <div class="span"><i class="fal fa-ticket-alt"></i> Pestreno</div>
                    <div class="span"><i class="fal fa-ticket-alt"></i> Estreno</div>
                  </div>
              </div>
          </div>
        </div>
  </div>
</div>
