<div class="row">
    <div class="col-md-3 espacio-promociones"></div>
      <div class="col-md-6 espacio-promociones">
        <span class="titulo-promocion">
          MULTICLUB
        </span>
        <p class="subtitulo-promocion">INICIO <span class="punto">.</span> Multiclub</p>
      </div>
    <div class="col-md-3 espacio-promociones"></div>
</div>
<div class="row">
    <div class="col-md-12 espacio-promociones2"></div>
</div>
<div class="row">
    <div class="col-md-12 espacio-blanco"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-7 imagenArh">
    <img src="../../../assets/imagenes/Arch_89.jpg" alt="">
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row boton-link">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <a class="button-link" href="https://www.multicines.com.ec/multicines_upload/archivos/Arch_92.pdf" target="_blank">TÉRMINOS Y CONDICIONES</a>
  </div>
  <div class="col-md-4"></div>
</div>
  




