<div class="filtros">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 signos-peliculas">
          <div class="span"><img src="../../assets/images/ticket.png" width="10%" height="10%">  Pre-venta</div>
          <div class="span"><img src="../../assets/images/star-green.svg" width="10%" height="10%" >  Pestreno</div>
          <div class="span"><img src="../../assets/images/star-red.svg" width="10%" height="10%">  Estreno</div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">QUITO <span class="filtro-v"> v </span></div>
        <div class="col-md-2">C.C.I<span class="filtro-v"> v </span></div>
        <div class="col-md-2">CALENDARIO</div>
        <div class="col-md-2">HORAS</div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
          <div class="menu_multicines_filtros">
              <span class="item-filtros">CARTELERA</span>
              <span class="item-filtros-slash">/</span>
              <span class="item-filtros">ESTRENOS</span>
              <span class="item-filtros-slash">/</span>
              <span class="item-filtros">PRÓXIMOS ESTRENOS</span>
              <span class="item-filtros-slash">/</span>
              <span class="item-filtros">PREVENTA</span>
              <span class="item-filtros-slash">/</span>
              <span class="item-filtros">3D</span>
              <span class="item-filtros-slash">/</span>
              <span class="item-filtros">SUBTITULADO</span>
          </div>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>